 body {
  font-family: 'GloberSemiBoldFree';
  /* font smoothing for Chrome */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-transform: rotate(-0.0000000001deg);
          transform: rotate(-0.0000000001deg);
  -webkit-font-smoothing: subpixel-antialiased;
  text-shadow: transparent 0 0 1px;
 }
 .cover {
  height: 176px;
  height: 11rem;
  background: #2ba6cb;
 }
 .cover img:not(.git) {
  display: block;
  margin: 0px auto;
  height: 176px;
  height: 11rem;
  float: right;
 }
 .git {
  height: 48px;
 }
 .fork {
  padding: 9px 64px 9px 32px;
  padding: 0.6rem 4rem 0.6rem 2rem;
 }
 .fork a {
  color: #fff;
 }
 .clear {
  clear: both;
 }
 .cover h2 {
  color: #fff;
  font-family: 'RosarioRegular';
  margin: 32px 0px 0px 32px;
  margin: 2rem 0px 0px 2rem;
  line-height: 80px;
  line-height: 5rem;
  font-size: 45px;
  font-size: 2.8125rem;
 }
 h3:not(.defaultH3) {
  font-family: 'RosarioRegular';
  margin: 19px 0px 16px 0px;
  margin: 1.2rem 0rem 1rem 0rem;
 }
 .cover small {
  color: #fff;
 }
 .primary-color {
  border-top: 40px solid #2ba6cb;
  padding-top: 10px;
 }
 .secondary-color {
  border-top: 40px solid #e9e9e9;
  padding-top: 10px;
 }
 .alert-color {
  border-top: 40px solid #f04124;
  padding-top: 10px;
 }
 .success-color {
  border-top: 40px solid #43ac6a;
  padding-top: 10px;
 }
 .bodyfont-color {
  border-top: 40px solid #222;
  padding-top: 10px;
 }
 .headerfont-color {
  border-top: 40px solid #222;
  padding-top: 10px;
 }
 .fullwidth {
  max-width: none !important;
 }
 .content {
  padding: 10px 5px 0px 5px;
  background: rgba(255, 255, 255, .5);
  box-shadow: 2px 1px 3px #4593B1, -2px -1px 3px #CAD1D1;
 }
 [class*="block-grid-"] {
  margin: 0 -0.1px;
 }
 .sub-content {
  padding: 5px;
 }
 .has-tip {
  font-weight: normal;
 }
 .content p {
  margin: 0px;
 }
 html,
 body {
  font-size: 90%;
 }
 .row {
  max-width: 1200px;
  max-width: 75rem;
 }
 code {
  padding: 0px;
 }
 .footer {
  background: #2ba6cb;
  height: 80px;
  height: 5rem;
  margin-top: 32px;
  margin-top: 2rem;
 }
 .footer h4 {
  font-family: "globersemiboldfree";
  line-height: 80px;
  line-height: 5rem;
 }
 .typography h1,
 .typography h2,
 .typography h3,
 .typography h4,
 .typography h5,
 .typography h6 {
  display: inline;
 }
 .typography .block {
  display: block;
 }
 .button-panel .button {
  margin: 0px;
 }
 .button-panel .columns {
  margin: 0 0 16px;
  margin: 0 0 1rem;
 }
 .sub-content code,
 .forms code {
  overflow-x: scroll;
  margin: 16px 0 16px;
  margin: 1rem 0 1rem;
  display: block;
 }
 .structure-panel .no-bullet li {
  margin-bottom: 3px;
  margin-bottom: 0.2rem;
 }
 .button-panel a ~ p,
 .button-group ~ ul,
 .f-dropdown ~ ul,
 .button-bar ~ ul,
 .dropdown ~ ul,
 .label ~ p,
 .inline-list ~ span {
  margin-top: 6px;
  margin-top: 0.4rem;
 }
 .vcard ~ ul,
 .clearing-assembled ~ ul,
 .top-bar ~ ul,
 .panel.callout.radius {
  margin-top: 16px;
  margin-top: 1rem;
 }
 .content h4:not(.defaultH4) {
  font-family: "BebasNeueBold";
  background: #2ba6cb;
  padding-left: 1em;
  margin-bottom: 1em;
  color: #fff;
 }
 .typography-panel ul {
  margin-bottom: 0px;
 }
 .success.label ~ p,
 .th {
  margin-bottom: 16px;
  margin-bottom: 1rem;
 }
 .keystroke-code {
  display: block;
 }
 .textClasses {
  color: #008cba;
 }
 .textAlignPanel .text-left,
 .textAlignPanel a:not(.button),
 .textAlignPanel a:not(.alert-box) {
  margin-top: 1.5em;
 }
 .forms ul p {
  height: 1em;
 }
 @media only screen and (max-width: 40em) {
  .cover h2 {
   margin: 48px 0px 0px 16px;
   margin: 3rem 0px 0px 1rem;
   line-height: 32px;
   line-height: 2rem;
   font-size: 32px;
   font-size: 2rem;
  }
  .fork {
   padding: 9px 64px 9px 16px;
   padding: 0.6rem 4rem 0.6rem 1rem;
  }
  .content h4:not(.defaultH4) {
   font-size: 22px;
   font-size: 1.4rem;
  }
 }
 @media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .clearMedium {
   clear: both;
  }
  .cover h2 {
   line-height: 48px;
   line-height: 3rem;
   font-size: 35px;
   font-size: 2.2rem;
  }
 }
 @media only screen and (min-width: 64.063em) {
  .clearLarge {
   clear: both;
  }
 }
 .sub-content ul {
  margin-top: 0.5em;
 }
 .sideNav ul.no-bullet {
  margin-top: 1em;
 }
 .toolTips span:not(.has-tip) {
  padding-left: 1em;
 }
 .halfWidth {
  width: 50%;
 }
 .reveal-modal + ul {
  margin-top: 1em;
 }
 @font-face {
  font-family: 'GloberSemiBoldFree';
  src: url('../fonts/globersemiboldfree.eot');
  src: url('../fonts/globersemiboldfree.eot') format('embedded-opentype'), url('../fonts/globersemiboldfree.woff2') format('woff2'), url('../fonts/globersemiboldfree.woff') format('woff'), url('../fonts/globersemiboldfree.ttf') format('truetype'), url('../fonts/globersemiboldfree.svg#GloberSemiBoldFree') format('svg');
 }
 @font-face {
  font-family: 'BebasNeueBold';
  src: url('../fonts/bebasneuebold.eot');
  src: url('../fonts/bebasneuebold.eot') format('embedded-opentype'), url('../fonts/bebasneuebold.woff2') format('woff2'), url('../fonts/bebasneuebold.woff') format('woff'), url('../fonts/bebasneuebold.ttf') format('truetype'), url('../fonts/bebasneuebold.svg#BebasNeueBold') format('svg');
 }
 @font-face {
  font-family: 'RosarioRegular';
  src: url('../fonts/rosario-regular.eot');
  src: url('../fonts/rosario-regular.eot') format('embedded-opentype'), url('../fonts/rosario-regular.woff2') format('woff2'), url('../fonts/rosario-regular.woff') format('woff'), url('../fonts/rosario-regular.ttf') format('truetype'), url('../fonts/rosario-regular.svg#RosarioRegular') format('svg');
 }