@font-face {
    font-family: 'exoregular';
    src: url('../fonts/exo-regular-webfont.eot');
    src: url('../fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-regular-webfont.woff') format('woff'),
         url('../fonts/exo-regular-webfont.ttf') format('truetype'),
         url('../fonts/exo-regular-webfont.svg#exoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kaffeesatzregular';
    src: url('../fonts/yanonekaffeesatz-regular-webfont.eot');
    src: url('../fonts/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yanonekaffeesatz-regular-webfont.woff') format('woff'),
         url('../fonts/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
         url('../fonts/yanonekaffeesatz-regular-webfont.svg#kaffeesatzregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.inputsDiv{
    width:49%;
    overflow-x:scroll; 
    float:left;
    height:100%;
    
}
.outputsDiv{
    width:49%;
    overflow-x:scroll; 
    float:right;
    height:100%;
}
.inputRes{
    width:200px;
    display:inline-block;
}
.scrollerDiv{
    white-space:nowrap;
     padding:20px;
}
.mainDiv{
   
     height:70%;
}
body, .header{
    font-family:"exoregular" !important;
}

.inputsDiv > h3,.outputsDiv > h3{
    font-family:exoregular;
    padding:20px;
    text-align:center;
}
.header{
    padding:0px 20px 0px;
}